.game-container.hide {
    display: none !important;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    background-color: white;
}

.choice-container.disable {
    pointer-events: none;
}

.choice-container.correct {
    background-color: rgb(87, 255, 146);
}

.choice-container.incorrect {
    background-color: rgb(255, 139, 139);
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #56a5eb;
    color: white;
}

.choice-text {
    padding: 1.5rem;
}

.continue-quiz {
    margin-top: 1rem
}

.results-container {
    text-align: center;
}

.results-container.hide {
    display: none!important;
}

.results-container .score-result-text {
    text-align: center;
    font-size: 6rem;
    margin-bottom: 3rem;
}