body{
    background-color: rgb(58, 58, 58);
    margin:0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*{
    box-sizing: border-box;
}

button {
    padding: 1rem 2rem;
    background-color: #607d8b;
    color: aliceblue;
    border: 0;
    font-size: 1.2rem;
    border-radius: 10px;
}

button:hover {
    background-color: #41555f;
    cursor: pointer;
}

.container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.hidden {
    display: none!important;
}

.options-wrapper, .rules-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 400px;
    width: 600px;
    background-color: white;
    /* margin: 30px auto; */
    border-radius: 8px;
    padding:25px
}

.options-list {
    display: flex;
    flex-direction: row;
}

.options-wrapper .option-btn {
    text-align: center;
    margin: 2rem;
}

.rules-wrapper ol {
    text-align: center;
    padding-left:0;
}

.rules-wrapper ol li {
    text-align: center;
    margin-bottom: 0.6rem;
}

.quiz-wrapper{
    height: 400px;
    width: 600px;
    background-color: white;
    /* margin: 30px auto; */
    border-radius: 8px;
    padding:25px;
}

.quiz-wrapper .question{
    min-height: 50px;
    background-color: teal;
    border-radius: 8px;
    color: white;
    padding: 15px;
    float: left;
    width: 100%;
    font-size: 25px;
}

.quiz-wrapper .options{
    float: left;
    width: 100%;
}

.quiz-wrapper .options ul{
    list-style: none;
    padding: 0%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.quiz-wrapper .options ul li{
    display: inline-block;
    background-color: #607d8b;
    width: 46%;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 30px;
    margin: 10px;
    color:white;
    box-shadow: 0px 3px 0px grey;
    cursor: pointer;
    transition: all 0.3s ease;
}
.quiz-wrapper .options ul li:hover {
    background-color: #455963;
}


.quiz-wrapper .options ul li.correct{
    background-color: green;
    box-shadow: 0px 3px 0px grey;
}

.quiz-wrapper .options ul li.wrong{
    background-color: red;
    box-shadow: 0px 3px 0px grey;
}

.quiz-wrapper .options ul li:active{
    box-shadow: 0px 0px 0px  rgb(84, 110, 179);
}



.quiz-wrapper .score {
    float: left;
    width: 100%;
}

.quiz-wrapper .score .next{
    width: 40%;
    float: left;
}

.quiz-wrapper .score .next button{
    padding: 10px 70px;
    color: white;
    background-color:#ec930d;
    border: none;
    border-radius: 8px;
}

.quiz-wrapper .cards-list {
    display: flex;
    flex-direction: row;
}

.quiz-wrapper .score .card-item{
    width: 60%;
    float: left;
    line-height: 40px;
    font-size: 20px;
}

.quiz-wrapper .score .card-item span{
    background-color: rgb(12, 88, 29);
    padding: 5px 20px;
    border: none;
    color:white;
    border-radius: 8px;
}